.rectangle-div42,
.rectangle-icon1 {
  position: absolute;
  top: 0;
  height: 1024px;
}
.rectangle-div42 {
  left: 946px;
  background-color: var(--white);
  width: 492px;
}
.rectangle-icon1 {
  left: 0;
  width: 948px;
  object-fit: cover;
}
.register-div1 {
  position: absolute;
  top: 285px;
  left: 978px;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  width: 214px;
  height: 46px;
}
.component-input1,
.component-input2 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 395px;
  left: 1022px;
  width: 343px;
  height: 52px;
}
.component-input2 {
  top: 470px;
}
.rectangle-div43 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--cards-2-main);
  border: 2px solid var(--cards-2-main);
  box-sizing: border-box;
}
.log-in-div5 {
  position: absolute;
  height: 28.85%;
  width: 10.2%;
  top: 36.54%;
  right: 45.11%;
  bottom: 34.62%;
  left: 44.69%;
  font-size: var(--open-sans-13-sp-body-3-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-roboto);
  color: var(--white);
  text-align: center;
  display: inline-block;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 578px;
  left: 1022px;
  border-radius: var(--br-md);
  width: 343px;
  height: 52px;
}
.baby-got-rash9 {
  position: absolute;
  top: 0;
  left: 53px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 396px;
  height: 183px;
}
.group-icon9,
.logo-div9 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 53px;
  height: 39px;
}
.logo-div9 {
  top: 395px;
  left: 249px;
  width: 449px;
  height: 183px;
  text-align: center;
  font-size: var(--font-size-4xl);
  font-family: var(--font-rhodium-libre);
}
.registerstep-1-div {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--cards-2-main);
  font-family: var(--font-comfortaa);
}
